* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url("../images/xv.png");
    background-color: #cccccc;
}

p {
  color: #777777;  
}

h1, h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1{
    color: white;
    background-color: #cccccc;
}

h2 {
    color: #4aaaa5;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.portrait{
    width: 25%;
    height: 25%;
}
